body {background-color: rgb(19, 15, 32);}
#canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: none;
}

#scoreCanvas{
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background:  #2c1c63;
}